.avatar-container-rounded{
    width:200px;
    height:200px;
    border-radius:50%;
    border: 1px solid #333;
}

.name-container{
    margin-top:1rem;
}

.name-form-container-text{
    font-size:1.5rem;
    font-weight:bold;
    text-align: center;
}

img{
    margin:0;
}